<!-- 
<h1>Contador:</h1>
<p>{{valorcontador}}</p>
<button (click)="incrementar()">Inc</button>
<button (click)="decrementar()">Dec</button> 
-->

<!-- <app-hijo [recibeHijo]="mensajePadre"/> -->
<!-- Estamos mandando el mensaje MANDAR DATOS -->




<!-- 
<h5>el mensaje recibido del hijo es: {{mensajeRecibido}}</h5>
<app-hijo 
(decrementarDesdeHijo)="decrementar()"
(incrementarDesdeHijo)="incrementar()"
(mensajeDesdeHijo)="recibirMensaje($event)"
/>

<h1>Contador:</h1>
<p>{{valorcontador}}</p>
 -->


 <h1 >{{nombre|uppercase}}</h1>
<h2>Fecha de hoy: {{fecha|date:'dd/MM/yyyy'}}</h2>
<h2>{{dolar |currency: 'EUR'}}</h2>
<h2>{{pi |number: '1.1-6'}}</h2>
<!-- <h2>Fecha de hoy: {{fecha|date:'yyyy/MM/dd'}}</h2> -->
 <button type="button" (click)="saludar()">Saludar</button>
 <button type="button" (click)="preguntar()">Saludar</button>